Мы создаём сайт для продажи и презентации оборудования освещения.
Сайт должен быть современным, красивым, функциональным и отвечать современным стандартам.
Когда пишешь код, будь на 100% уверен, что не ломаешь существующий функционал.
Полностью изучи пробелему и нашу переписку и только потом приступи к решению проблемы